.entry {
  background-image: url('../img/background2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  margin: auto;
}

.entry::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.entry_container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.entry_logo_text {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  padding-bottom: 32px;
}

.entry_logo_text_2 {
  color: rgb(236, 121, 121);
}
.entry_title_text {
  font-style: normal;
  color: #ffffff;
}
.entry_title {
  text-align: left;
  width: 46%;
  padding: 94px 0px 86px 0px;
}

.entry_title_text::after {
  margin-left: 0px;
  background-color: rgba(255, 255, 255, 1);
  height: 1px;
}

.entry_subtitle {
  padding: 39px 0px 50px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
}

.entry_form {
  border: 0px solid #ffffff;
  background-color: #ffffff;
  border-radius: 8px;
  margin: auto 0;
  width: 31%;
  padding: auto;
}

.entry_form_text {
  color: rgb(236, 121, 121);
  text-transform: uppercase;
}

.entry_form_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  text-transform: capitalize;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 24.7px;
}

form input {
  outline: none;
  border: 0;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  border-bottom: 1px solid #bdbdbd;
  text-align: left;
  width: 70%;
  padding-top: 19.3px;
  padding-bottom: 19.3px;
}
.entry_form_button {
  border: none;
  background-color: rgb(236, 121, 121);
  color: rgba(255, 255, 255, 1);
  padding: 11px 27px 11px 25px;
  text-align: center;
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
  padding: 19px 0;
  border-radius: 0 0 8px 8px;
  border: 1px solid rgb(236, 121, 121);
  margin-top: 61px;
}
.entry_form_button:hover,
.contacts_form_button_send:hover {
  background-color: #f3a6a6;
  cursor: pointer;
}
@media (max-width: 768px) {
  .entry_container {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .entry_title {
    text-align: center;
    padding: 34px 0px;
  }
  .entry_title_text::after {
    margin: 10px auto;
  }
  .entry_logo_text {
    font-size: 1.8rem;
  }
  .entry_title {
    align-self: center;
    padding: 25px auto;
    width: 80%;
  }
  .entry_subtitle {
    font-size: 14px;
    padding: 9px 0px 30px 0;
  }
  .entry_form {
    width: 70%;
    margin: auto;
  }
  .entry_form h3 {
    font-size: 1rem;
    line-height: 1rem;
  }
  .entry_form_title {
    padding: 15px 19px;
    margin-bottom: 5px;
  }

  .link_1 {
    font-size: 0.9rem;
    padding: 10px 13px;
  }
  form input {
    padding-top: 15px auto;
    line-height: 16px;
  }
  .entry_form_button {
    margin-top: 30px;
    padding: 9px 0;
  }

  .entry_logo_text {
    padding: 5px 0;
    font-size: 1.8rem;
  }
}
