.social {
  background-color: rgba(248, 239, 239, 1);
}
.social_container {
  display: flex;
  justify-content: space-between;
}

.social_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  color: #333333;
  width: 31%;
}
.social_title h3 {
  padding-bottom: 14px;
}
.social_title_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: #86878b;
}

.social_nav {
  width: 58.4%;
  align-self: center;
}

.social_icons_items {
  display: flex;
  justify-content: flex-end;
}
.social_icons_items li {
  margin-left: 48px;
}

.social_icons_link {
  width: fit-content;
  text-align: right;
  justify-content: end;
  height: fit-content;
  background-color: rgba(248, 239, 239, 1);
  font-size: 34px;
  color: rgb(204, 204, 204);
}
.social_icons_link:hover {
  transform: scale(1.3, 1.4);
  transition: 0.3s;
}

.face:hover {
  color: #4867aa;
}
.twit:hover {
  color: #28a9e0;
}

.google:hover {
  color: rgb(230, 106, 24);
}
.print:hover {
  color: #d50123;
}
.inst:hover {
  color: crimson;
}

.stumble:hover {
  color: #e94c22;
}

.rss:hover {
  color: #f29d00;
}

@media (max-width: 768px) {
  .social_icons_link {
    font-size: 1.5rem;
    text-align: center;
  }
  .social_title h3 {
    padding-bottom: 7px;
    text-align: center;
  }
  .social_title {
    width: 100%;
    font-size: 1rem;
    align-self: center;
  }
  .social_icons_items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .social_title_text {
    font-size: 0.9 rem;
    padding-bottom: 10px;
    text-align: center;
  }
  .social_container {
    flex-direction: column;
  }
  .social_nav {
    width: 100%;
  }
  .social_icons_items li {
    margin-left: 12px;
  }
}
