.awesome_header {
  margin-top: 100px;
}

h2:after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 34px;
  background-color: #d98943;
  height: 2px;
  width: 64px;
}

.awesome_subheader {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin-top: 30px;
  margin-bottom: 0px;
}

.awesome_flex_card_icon {
  background-image: url('../img/bulb.svg');
  width: 70px;
  height: 70px;
  margin: auto;
  border: 1px solid #d98943;
  border-radius: 50%;
  background-size: 23px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 67px;
}
.awesome_flex_card_icon .icon1 {
  background-image: url('../img/bulb.svg');
  background-size: 23px 30px;
}
.icon2 {
  background-image: url('../img/keyboard.svg');
  background-size: 37px 26px;
}
.icon3 {
  background-image: url('../img/light.svg');
  background-size: 21px 33px;
}
.awesome_flex_card {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 109px;
}

.awesome_flex_card_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  padding-top: 30px;
}

.awesome_flex_card_text {
  font-family: 'Open Sans', sans-serif;
  padding-top: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-align: center;
}
