* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  padding: 15px;
  height: 595px;
}

h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}
.awesome_header {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  margin-top: 100px;
}

.awesome_header_line {
  margin: auto;
  border-bottom: 1px solid #d98943;
  padding-bottom: 25px;
  width: 64px;
}

.awesome_subheader {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin-top: 30px;
  margin-bottom: 0px;
}

.awesome_card {
  display: inline-block;
  width: 30%;
}

.awesome_card_img {
  border: 1px solid #d98943;
  border-radius: 50%;
  margin-top: 87px;
  padding: 22px;
}

.awesome_card_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  padding-top: 30px;
}

.awesome_card_text {
  font-family: 'Open Sans', sans-serif;
  padding-top: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
