.header {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  font-size: 30px;
}
.header_nav {
  width: 41.8%;
}

.header_nav_items {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.header_nav_link {
  width: 100%;
  height: fit-content;
}

.header_nav_link a {
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 1);
  position: relative;
}

.header_nav_link a:hover:after,
.header_nav_link a:focus:after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  width: 0;
  animation: mymove 0.7s forwards;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  border-right: solid 1px rgba(255, 255, 255, 0.7);
}

@keyframes mymove {
  from {
    width: 0%;
    height: 0%;
    top: 200%;
  }
  to {
    width: 100%;
    height: 50%;
    top: 50%;
  }
}

@media (max-width: 768px) {
  .heder_logo {
    font-size: 1.3rem;
  }
  .header_nav {
    visibility: hidden;
  }
}
