.pricing {
  background-color: #e5e5e5;
}

.pricing_header {
  margin-top: 65px;
}
.pricing_subheader {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin-top: 34px;
}
.pricing_flexBox {
  margin-top: 62px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
  position: relative;
}

.pricing_flexBox_item {
  text-align: center;
  width: 29.06%;
}
.pricing_flexBox_item_title_text {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 8px;
  margin-bottom: 1px;
}

.pricing_flexBox_item_value_text {
  padding-top: 26px;
  padding-bottom: 23px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.pricing_flexBox_item_info_text,
.pricing_flexBox_item_info_link {
  padding-top: 17px;
  padding-bottom: 14px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
}

.pricing_flexBox_item_list {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
}

.pricing_flexBox_item_value,
.pricing_flexBox_item_title,
.pricing_flexBox_item_info {
  text-align: center;
  background-color: #333333;
}

.item2 {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: -14px;
}
.pricing_flexBox_item_info_link:hover {
  background-color: rgba(217, 137, 67, 1);
}

.pricing_flexBox_item_list_items li {
  margin-top: 4px;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 0;
}

@media (max-width: 768px) {
  .pricing_header {
    margin-top: 35px;
  }
  .pricing_flexBox_item_title_text {
    font-size: 1rem;
  }
  .pricing_flexBox_item_value_text {
    padding-top: 13px;
    padding-bottom: 11px;
    font-size: 1.5rem;
  }
  .pricing_flexBox_item {
    width: 70%;
    justify-content: center;
  }
  .pricing_flexBox {
    margin-top: 30px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .item2 {
    top: 0;
  }
  .pricing_flexBox_item {
    margin-bottom: 40px;
  }
  .pricing_flexBox_item:last-child {
    margin-bottom: 0px;
  }
}
