.social {
  background-color: rgba(248, 239, 239, 1);
}
.social_container {
  display: flex;
  justify-content: space-between;
}

.social_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  color: #333333;
  width: 31%;
}
.social_title h3 {
  padding-bottom: 14px;
}
.social_title_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: #86878b;
}

.social_nav {
  width: 58.4%;
  align-self: center;
}

.social_icons_items {
  display: flex;
}
.social_icons_link {
  text-align: right;
  justify-content: end;
}

.social_icons_link {
  height: fit-content;
  background-color: rgba(248, 239, 239, 1);
  font-size: 34px;
  color: rgb(204, 204, 204);
}

.face:hover {
  transform: scale(1.3, 1.4);
  color: #4867aa;
  transition: 0.3s;
}
.twit:hover {
  transform: scale(1.3, 1.4);
  color: #28a9e0;
}

.google:hover {
  color: #ff00de;
  transform: rotate(360deg);
  transition: 0.5s;
}
.print:hover {
  color: #d50123;
  transform: rotateZ(90deg);
  transition-duration: 0.8s;
}
.inst:hover {
  color: crimson;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.stumble:hover {
  background-color: #e94c22;
  color: white;
  transform: scale(1.3, 1.4);
  border-radius: 6px;
}

.rss:hover {
  transform: scale(1.3, 1.4);
  background-color: #f29d00;
  color: white;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .social_icons_link {
    font-size: 1.5rem;
    text-align: left;
  }

  .social_title {
    width: 70%;
    font-size: 1rem;
  }
  .social_title_text {
    font-size: 0.5 rem;
  }
  .social_container {
    flex-direction: column;
  }

  .social_title {
    align-self: center;
  }
  .social_nav {
    width: 70%;
    text-align: left;
  }
  .social_icons_items li {
    justify-content: left;
  }
}
